#box
  display flex
  opacity .6
  transform translateX(100px)
  background linear-gradient(red, blue)
  animation animate 2s infinite

@keyframes animate
  from
   background red
  to
   background yellow


  
  