*
  margin 0
  padding 0
  box-sizing border-box

body
  height 100vh
  display flex
  justify-content center
  align-items center

.box
  width 200px
  height 200px
  background-color lightblue
  transform scale(0.8)

.react-hot-loader-error-overlay
  position fixed
  box-sizing border-box
  left 0px
  top 0px
  right 0px
  bottom 0px
  width 100vw
  height 100vh
  background-color rgba(0, 0, 0, 0.85)
  color rgb(232, 232, 232)
  font-family Menlo, Consolas, monospace
  font-size large
  padding 2rem
  line-height 1.2
  white-space pre-wrap
  overflow auto

.show-box
  transform rotateY(0deg)

.title
  height 60px
  color #D3D7F7
  font-size 16px
  margin-bottom 0

.bottom
  display flex
  height 42px
  justify-content space-between
  align-items center

button
  padding 10px 30px
  border 2px solid #4FA1D9
  border-radius 50px
  background transparent
  font-size 11px
  color #4FA1D9
  transition all 0.2s
  cursor pointer
  outline none

.hidden-box
  transform rotateY(180deg)

.dialog
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  background rgba(0, 0, 0, 0.9)
  display flex
  justify-content center
  align-items center

  .dialog-container
    position relative
    width 500px
    height 500px
    background #fff
    border-radius 10px
    padding 10px

    h2
      color #f00

    .close
      position absolute
      right 10px
      top 10px
      cursor pointer